body {
    background-color: pink;
  }
  
  #backgroundColor {
    animation-name: cornMove;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  .genHover:hover {
    transform: scale(1.1);
  }
  
  figure {
    position: relative;
  }
  
  figure:hover {
    transform: scale(1.5);
  }
  
  #cornAnim {
    animation-name: cornMove;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes cornMove {
    0% {
      left: 0px;
    }
    50% {
      left: 100px;
    }
    100% {
      left: 0px;
    }
  }
  
  #corn {
    width: 100px;
    height: auto;
  }
  
  #woman {
    width: 250px;
    height: auto;
  }
  
  #womanAnim {
    animation-name: womanMove;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes womanMove {
    0% {
      right: 0px;
    }
    50% {
      right: 100px;
    }
    100% {
      right: 0px;
    }
  }
  
  .showcase {
    display: grid;
    grid-template-columns: 400px 300px;
  }