.text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: white;
}
.title:hover {
    content: 'j̗̟̣̯̒͐̀̃ū̝̳̋n͔͎̍̎o̡͖̭̟̊͊̔̉ ̢͎͋͘6̡̢̲͍̑̀̽̚̚͜16̪͍͌͐'';
}
.main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
}
.content {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:rgb(150, 178, 206);
    padding: 0px 50px 35px 50px;
    border-radius: 5px;
}
.an {
    text-align: center;
}
.submit {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(211, 211, 211);
}